
  
  <appSettings>
    <add key="MailServer" value="dev-smtp.vidly.com"/>
    <add key="FacebookappId" value="251767726067772"/>
    <add key="FacebookappSecret" value="ec81b3811afe0d46e2d11ec15c5a8a9b"/>
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

